#footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.footer-contact {
    font-weight: 600;
}

.footer-links {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.footer-link-group p {
    cursor: pointer;
}

.footer-link-group p:hover {
    color: #FD8A1D;
}

@media (max-width: 1050px) {
    .footer-links {
        width: auto;
       flex-direction: column;
    }
}

@media (max-width: 780px) {
    #footer {
        font-size: 16px;
        padding: 20px;
        justify-content: space-between;
    }

    .footer-link-group p {
        line-height: 1.3;
    }

    .footer-contact img {
        width: 100px;
    }
}

@media (max-width: 400px) {
    #footer {
        flex-direction: column;
    }
}