#about-us {
    max-width: 1920px;
    margin: 0 auto;
}

.how-we-work {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.how-we-work-details {
    width: 950px;
    padding-left: 40px;
    align-self: flex-end;
}

.about-us-title {
    color: #333;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    text-shadow: 3px 0 currentColor;
    letter-spacing: 2px;
}

.how-we-work-line {
    width: 140px;
    border: 4px solid #FD8A1D;
    border-radius: 50px;
    margin-top: -40px;
}

.about-us-text {
    font-size: 27px;
    line-height: 1.7;
    max-width: 700px;
}

.how-we-work-img {
    align-self: center;
}

.how-we-work-img img {
    width: 100%;
}

.what-we-do {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 60px;
}

.what-we-do-details {
    align-self: flex-end;
    padding-right: 40px;
}

.what-we-do-line {
    width: 80px;
    border: 4px solid #4A2388;
    border-radius: 50px;
    margin-top: -40px;
}

.what-we-do-img {
    width: 950px;
    align-self: center;
}

.what-we-do-img img {
    max-width: 100%;
}

.why-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
}

.why-us-details {
    width: 950px;
    padding-left: 40px;
}

@media (max-width: 1050px) {
    .how-we-work-details {
        max-width: 600px;
        padding-left: 20px;
    }

    .about-us-title {
        font-size: 60px;
    }

    .about-us-text {
        font-size: 20px;
    }

    .what-we-do-img {
        width: auto;
    }

    .what-we-do-details {
        padding-right: 20px;
    }

    .why-us-details {
       max-width: 600px;
    }
}

@media (max-width: 780px) {
    .about-us-title {
        font-size: 45px;
    }

    .how-we-work-line {
        width: 100px;
        border: 2px solid #FD8A1D;
        margin-top: -25px;
    }

    .about-us-text {
        font-size: 18px;
    }

    .what-we-do-details {
        padding-right: 0px;
    }

    .what-we-do-line {
        width: 50px;
        border: 2px solid #4A2388;
        margin-top: -25px;
    }
}

@media (max-width: 620px) {
    .how-we-work {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .how-we-work-details {
        width: 100%;
    }

    .what-we-do {
        flex-direction: column;
    }

    .what-we-do {
        padding-bottom: 0px;
    }

    .what-we-do-details {
        padding: 20px;
    }

    .why-us {
        flex-direction: column-reverse;
    }

    .why-us-details {
        max-width: 100%;
        padding-left: 20px;
    }

}