.case-study-div {
    background-image: url("../../assets/images/bg-light-purple.png");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding-top: 200px;
    z-index: -2;
}

#case-study {
    padding: 0 40px;
}

.case-study-cartoon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: -70px;
}

.case-study-cartoon img {
    width: 100%;
}

.case-study-info {
    margin: auto;
    background-color: #4A2388;
    max-width: 1190px;
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 13px 11px 13px #9589A824;
}

.case-study-info h1 {
    font-size: 37px;
}

.case-study-info p {
    font-size: 28px;
    line-height: 1.5;
    color: #DCDCDC;
}

.testimonials {
    background-color: #ece4f8;
}

.testimonials-text {
    text-align: center;
    padding: 40px 0;
}

.testimonials-text h1 {
    background-color: #FFECD9;
    color: #FD8A1D;
    font-size: 29px;
    border-radius: 47px;
    padding: 10px 40px;
    width: fit-content;
    margin: 0 auto;
}

.testimonials-text p {
    font-size: 40px;
    font-weight: 900;
}

.testimonials-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-1 {
    background-image: url("../../assets/images/testimonial-1.png");
    max-width: 600px;
    height: 750px;
    margin: 75px 0;
    font-size: 22px;
}

.testimonial-2 {
    background-image: url("../../assets/images/testimonial-2.png");
    max-width: 500px;
    height: 600px;
    font-size: 17px;
}

.testimonial-3 {
    background-image: url("../../assets/images/testimonial-3.png");
    max-width: 500px;
    height: 600px;
    font-size: 17px;
}

.testimonial-bg {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.testimonial-bg p {
    margin: 10px auto;
}

.testimonial-bg span {
    font-weight: 700;
}

@media (max-width: 1050px) {
    .case-study-info h1 {
        font-size: 32px;
    }
    
    .case-study-info p {
        font-size: 20px;
    }

    .testimonials-text h1 {
        font-size: 26px;
    }

    .testimonials-text p {
        font-size: 28px;
    }

    .testimonial-bg {
        margin: 20px 0;
        font-size: 16px;
        height: 600px;
        max-width: 500px;
    }
}

@media (max-width: 780px) {
    #case-study {
        padding: 0 20px;
    }

    .case-study-div {
       padding-top: 150px;
    }

    .case-study-info {
        padding: 10px 30px;
        border-radius: 10px;
        
    }

    .case-study-info h1 {
        font-size: 28px;
    }
    
    .case-study-info p {
        font-size: 18px;
    }

    .testimonials-text h1 {
        font-size: 20px;
        padding: 8px 20px;
    }

    .testimonials-text p {
        font-size: 20px;
    }

    .testimonial-bg {
        margin: 10px 0;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .testimonial-bg {
        background-size: cover;
        padding: 70px 50px;
        margin: 0;
    }
    .testimonials-text p {
        font-weight: 500;
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    #case-study {
        padding: 0 10px;
    }

    .case-study-info {
        padding: 10px 20px;
    }

    .case-study-info h1 {
        font-size: 20px;
    }
    
    .case-study-info p {
        font-size: 16px;
    }
}

